#ilkRenk{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 50px;
    opacity: 0.5;
}
#ikinciRenk{
    position: absolute;
    margin-left: 525px;
    margin-top: 250px;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50px;
    opacity: 0.5;
}
#ucuncuRenk{
    position: absolute;
    margin-left: 550px;
    margin-top: 200px;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50px;
    opacity: 0.5;
}