<!DOCTYPE html>
<html>
<head>
  <title>Mesajlaşma</title>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
  <h2>Mesajlaşma</h2>
  <ul id="messages"></ul>
  <input id="input" autocomplete="off" /><button onclick="sendMessage()">Gönder</button>

  <script>
    var socket = io();
    socket.on('message', function(msg) {
      var item = document.createElement('li');
      item.textContent = msg;
      document.getElementById('messages').appendChild(item);
    });

    function sendMessage() {
      var input = document.getElementById('input');
      socket.send(input.value);
      input.value = '';
    }
  </script>
</body>
</html>
